<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <ion-button href="/example01" expand="full">Example 1</ion-button>
    <ion-button href="/example02" expand="full">Example 2</ion-button>
    <ion-button href="/example03" expand="full">Example 3</ion-button>
    <ion-button href="/example04" expand="full">Example 4</ion-button>
    <ion-button href="/example05" expand="full">Example 5</ion-button>
    <ion-button href="/example06" expand="full">Example 6</ion-button>
    <ion-button href="/example07" expand="full">Example 7</ion-button>
    <ion-button href="/example08" expand="full">Example 8</ion-button>
    
  </div>
</ion-content>
