<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ejercios Básicos (Relación 2ª)
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-button href="/ej1">
  Ejercio1
</ion-button>
<ion-button href="/ej2">
  Ejercio2
</ion-button>
<ion-button href="/ej3">
  Ejercio3
</ion-button>
<ion-button href="/ej4">
  Ejercio4
</ion-button>
<ion-button href="/ej5">
  Ejercio5
</ion-button>
<ion-button href="/ej6">
  Ejercio6
</ion-button>
<ion-button href="/ej7">
  Ejercio7
</ion-button>

</ion-content>
