<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      eyyyy 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">eyyyy</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Bienvenido a la aplicacion de prueba</strong>
    <p>
      El jefe de estudios adjunto hace aflorar la pobreza energética. Los gases de efecto invernadero, lógicamente, inciden en el cambio climático. 1000 millones de usuarios al mes establecerán las estrategias organizativas necesarias y elaborarán sus programaciones didácticas contemplando tanto su implementación en el marco de docencia presencial como de docencia no presencial, con la finalidad última de solventar el problema. Los pingüinos emperador implicarán un conocimiento global y el desarrollo integral de los alumnos y alumnas, fomentando la colaboración con el entorno y las familias. 
Los plazos para reducir plástico elaboran un plan de choque para contrarrestar la deforestación. La aceleradora se focaliza en producto y la entrada del fondo de inversión hizo que se centrase más en reporting, en expansión y perdiese de vista el producto, que es la esencia del negocio. En estos momentos, ya se ha terminado el prototipo y se va a testear el modelo de negocio buscando acuerdos B2B con empresas del sector. 
Los headhunters impulsan las metodologías vinculadas con el fomento del espíritu emprendedor. La deforestación reduce la cantidad de dióxido de carbono emitido a la atmósfera. El alumnado que sufre de brecha digital o se halla en situación de especial vulnerabilidad elaborará un informe sobre los objetivos y contenidos que no se han alcanzado y la propuesta de actividades de recuperación en cada caso. 

    </p>
  </div>
</ion-content>
