<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ejercios Básicos (Relación 2ª)
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-button href="/ejercicio1">
  Ejercio1
</ion-button>
<ion-button href="/ejercicio2">
  Ejercio2
</ion-button>
<ion-button href="/ejercicio3">
  Ejercio3
</ion-button>
<ion-button href="/ejercicio4">
  Ejercio4
</ion-button>
<ion-button href="/ejercicio5">
  Ejercio5
</ion-button>
<ion-button href="/ejercicio6">
  Ejercio6
</ion-button>
<ion-button href="/ejercicio7">
  Ejercio7
</ion-button>

</ion-content>
